@import "~@/theme/element-variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

*:focus {
  outline: none;
}

html {

}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $--color-primary;
}